.article > h1,
.article > h2,
.contentBlock > h1,
.contentBlock > h2,
.contextbox > h1,
.contextbox > h2
{
  font-size: 1.5em;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid none;
  border-color: lightgrey;
}
